<h4>Delete Item</h4>

<form action="/menu/delete-item" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name">

    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <label for="price">Price $</label>
    <input id="price" type="text" name="price">

    <label for="imageUrl">Image</label>
    <input id="imageUrl" type="text" name="imageUrl">

    <button type="submit">Delete item</button>

</form>