<h4>Edit Item</h4>

<form action="/menu/edit-item/{{_id}}" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="{{name}}">

    <label for="description">Description</label>
    <input id="description" type="text" name="description"value="{{description}}">

    <label for="price">Price $</label>
    <input id="price" type="text" name="price">

    <label for="imageUrl">Image</label>
    <input id="imageUrl" type="text" name="imageUrl" value="{{imageUrl}}">

    <button type="submit">Edit Item</button>

</form>